.portfolio-container {
  background-color: #F4F5F6;
  padding-bottom: 120px;
  margin-bottom: 60px;
}
.portfolio_heading h1 {
  font: normal 900 46px/130% var(--font-family) !important;
  color: var(--primary-color);
  margin: 0px 0 60px 0;
}

.portfolio_heading h5 {
  font: normal 700 16px/150% var(--font-family) !important;
  color: var(--primary-color);
  letter-spacing: 1px;
  text-transform: uppercase;
}
.position-dot {
  background: url("../../assets/Home/Banner/dots-pattern.png") no-repeat top left;
}

.portfolio_link {
  margin-right: 12px;
  text-decoration: none;
  font: normal 700 16px/160% var(--font-family);
  color: #9A9CA5;
  text-align: center;
  padding: 10px 20px;
}


@media (max-width:775px) {
  .portfolio-outlet-container {
    text-align: center;
    margin-bottom: 40px;
  }

  .portfolio_link {
    margin-right: 5px;
    text-align: center;
    padding: 5px 10px;
  }
}

@media (max-width:540px) {
  .portfolio-container {
    background-color: #F4F5F6;
    padding-bottom: 80px;
    margin-bottom: 30px;
  }
   .portfolio_heading {
    text-align: center;
   }
  .portfolio_heading h1 {
    font: normal 900 37px/130% var(--font-family) !important;
    color: var(--primary-color);
    margin: 0px 0 40px 0;
  }

  .portfolio_heading h5 {
    font: normal 700 14px/150% var(--font-family) !important;
    color: var(--primary-color);
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .portfolio-outlet-container {
    text-align: center;
    margin-bottom: 50px;
  }

  .portfolio_link {
    display: block;
    font-size: 16px !important;
    text-align: center;
    padding: 6px 10px;
  }

}