.slider-container {
  background: #F4F5F6;
  padding: 80px 0 160px 0;
}

.carousel-container {
  position: relative;
}

.react-multi-carousel-list {
  position: static !important;
}

.react-multi-carousel-item {
  margin-right: 15px !important;
}

.react-multi-carousel-dot-list {
  bottom: -15% !important;
}

.react-multi-carousel-dot button {
  width: 15px !important;
  height: 15px !important;
  border-color: var(--secondary-color) !important;
  border-width: 1px !important;
  margin-right: 10px !important;
}

.react-multi-carousel-dot--active button {
  background: var(--secondary-color);
}

.card-hover {
  border: none !important;
  background: transparent !important;
  padding: 15px;
  transition: 1s all linear;
}

.card-hover:hover {
  background-color: var(--white) !important;
  cursor: pointer;
}

.card-head {
  font: normal 700 20px/150% var(--font-family) !important;
  color: var(--primary-color) !important;
  margin: 16px 0 4px 0;
  text-decoration: none;
}
.card-head:hover {
  color: var(--secondary-color) !important;
}

.card-sub {
  font: normal 700 14px/150% var(--font-family) !important;
  color: #787A80 !important;
}

.slider-heading h5 {
  font: normal 700 16px/150% var(--font-family) !important;
  color: var(--primary-color);
  letter-spacing: 1px;
  text-transform: uppercase;
}
.slider-heading h1 {
  font: normal 900 46px/130% var(--font-family) !important;
  color: var(--primary-color);
  margin: 0px 0 60px 0;
}