.home_team_container {
  margin: 120px 0 180px 0;
}
.home_accordion_button {
  font: normal 700 20px/150% var(--font-family) !important;
  color: var(--primary-color) !important;
}

.home_degisnation {
  font: normal 400 16px/160% var(--font-family) !important;
  color: #787A80;
}

.home_accordion_title {
  font: normal 400 14px/150% var(--font-family) !important;
  color: #424551;
}
.team_image {
  width: 390px;
  height: 100%;
  object-fit: scale-down;
}

.team-heading h1 {
  margin-bottom: 30px !important;
}

